* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "iran-sans";
}

@font-face {
  font-family: "iran-sans";
  src: url(../../../fonts/IRANSans.ttf);
}

@font-face {
  font-family: "iransans-bold";
  src: url(../../../fonts/IRANSans_Bold.ttf);
}

/* header */
header {
  width: 100%;
}

nav {
  display: flex;
  background-color: #f4f7fb;
  padding: 40px 10px 20px;
  font-size: 18px;
}
nav img {
  width: 204px;
  height: 59px;
}
nav ul li a:hover {
  color: #219c90;
}
nav ul {
  width: 650px;
  padding: 0 10px;
  border-radius: 10px;
  list-style: none;
  position: relative;
  display: inline-table;
}

nav ul ul {
  display: none;
  background-color: #fff;
  width: 200px;
}

nav ul li:hover > ul {
  z-index: 999;
  display: block;
  border-radius: 10px;
}

nav ul:after {
  content: "";
  clear: both;
  display: block;
  z-index: 999;
}

nav ul li {
  float: right;
  border-radius: 10px;
}

nav ul li:hover {
  color: #219c90;
}

nav ul li a {
  display: block;
  padding: 25px 30px 25px 0;
  color: black;
  text-decoration: none;
  color: #909398;
  display: flex;
  align-items: center;
}

nav ul ul {
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%;
}
nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul li:hover {
  background-color: #f7f7f7;
}
nav ul ul li a {
  padding: 15px 40px;
  font-size: 16px;
  color: #909398;
}
nav ul ul li a:hover {
  color: #219c90;
}
nav ul ul ul {
  width: 200px;
  position: absolute;
  right: 100%;
  top: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.search {
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 50px;
  width: 390px;
  color: #8d9db5;
  border-radius: 5px;
}
.search input {
  height: 50px;
  width: 334px;
  border: none;
  border-radius: 5px;
}
.search input::placeholder {
  font-size: 18px;
  color: #aaaaaa;
}
.search input:focus {
  outline: none;
}
.search i {
  padding-left: 5px;
  font-size: 19px;
  cursor: pointer;
}
.user-box {
  width: 50px;
  height: 50px;
  background-color: #aaaaaa;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.user-box:hover {
  box-shadow: 1px 1px 5px #666, -1px -1px 5px #666;
}
/* body */

.tow-side {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  column-gap: 10px;
}
.sidbars-panel {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
}
.panel-tabs {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  align-items: center;
  width: 90%;
  background-color: #219c90;
  border-radius: 10px;
  height: 50px;
}
.panel-tabs a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #fff;
}
.panel-tabs:nth-child(4) {
  background-color: #fff;
  border: 3px solid #219c90;
  box-shadow: 2px 2px 5px #5b5b5b, -1px -1px 5px #5b5b5b;
}

.panel-tabs:nth-child(4) a {
  color: #219c90;
}
.panel-tabs p {
  margin: 0;
  padding: 0 10px;
  font-weight: 600;
}
.panel-tabs i {
  font-size: 20px;
}

.sidbars-panel img {
  width: 80%;
  padding: 20px 0 30px;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 80%;
  height: auto;
  background-color: #f7f8f9;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 40px;
}
.panel header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px 0;
  width: 100%;
}
.panel header h4 {
  font-family: "iransans-bold";
  margin: 0;
}
.notifactions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 88%;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 40px;
}
.notification-tab {
  height: 56px;
  width: 90%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  display: flex;
  padding-right: 10px;
}
.header-notif {
  display: flex;
  column-gap: 10px;
  flex-direction: row;
  font-size: 14px;
  font-weight: 600;
  color: #555;
  padding-top: 12px;
}
.header-notif p {
  padding-top: 5px;
}
.notif-user-box {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #219c90;
  color: #fff;
  border-radius: 8px;
}
/* footer */

.footer-email-tel {
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.email-tel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 15px;
  background-color: #219c90;
  width: 400px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.email-tel p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.email-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #ebf6f5;
  text-align: center;
  rotate: 20deg;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
}
.email-box i {
  transform: rotate(-20deg);
}

.tel-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #ebf6f5;
  text-align: center;
  rotate: 20deg;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
}

.tel-box i {
  rotate: -100deg;
}

.footer-row1 {
  height: 250px;
  width: 100%;
  background-color: #ebf6f5;
  display: flex;
}
.footer-row2 {
  height: 250px;
  width: 100%;
  background-color: #ebf6f5;
  display: flex;
}
.footer-colum1 {
  width: 60%;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.table {
  width: 100% !important;
  height: 220px !important;
  margin-top: 30px;
  vertical-align: middle !important;
  text-align: center;
  background-color: #ebf6f5 !important;
  border: none;
}
.table a {
  text-decoration: none;
  color: #5b5b5b !important;
}

table th {
  background-color: #ebf6f5 !important;
  font-family: "iransans-bold";
  font-size: 20px;
  color: #082a5e !important;
}

table td {
  background-color: #ebf6f5 !important;
  font-size: 15px;
}
table a:hover {
  color: #219c90 !important;
}

.footer-colum2 {
  width: 300px !important;
  height: 180px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #909398, -1px -1px 5px #909398;
}

.footer-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.details-personal-card {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-top: 10px;
  height: 40px;
  width: 100%;
}
.details-personal-card img {
  width: 35px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.name-id p {
  display: flex;
  flex-direction: column;
  height: 20px;
  margin-bottom: 5px;
  margin-right: 10px;
  direction: ltr;
}
.name-details-footer {
  font-family: "iransans-bold";
}
.id-details-footer {
  margin-left: 54px;
  font-size: 14px;
  color: #5b5b5b;
}

.footer-card-p {
  font-size: 14px;
  color: #5b5b5b;
  margin-right: 10px;
  width: 90%;
}

.footer-row2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-row-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-box {
  background-color: #fff;
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer-social-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
}
.footer-social-icons a {
  text-decoration: none;
  color: #3b3b3b;
  font-size: 25px;
}
.footer-social-icons a:hover {
  color: #e14b5a;
}
