* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "iran-sans";
}

@font-face {
  font-family: "iran-sans";
  src: url(../../fonts/IRANSans.ttf);
}

@font-face {
  font-family: "iransans-bold";
  src: url(../../fonts/IRANSans_Bold.ttf);
}
/* header */
header {
  width: 100%;
}
nav {
  display: flex;
  background-color: #f4f7fb;
  padding: 40px 10px 20px;
  font-size: 18px;
}
nav img {
  width: 204px;
  height: 59px;
}
nav ul li a:hover {
  color: #219c90;
}
nav ul {
  width: 650px;
  padding: 0 10px;
  border-radius: 10px;
  list-style: none;
  position: relative;
  display: inline-table;
}

nav ul ul {
  display: none;
  background-color: #fff;
  width: 200px;
}

nav ul li:hover > ul {
  z-index: 999;
  display: block;
  border-radius: 10px;
}

nav ul:after {
  content: "";
  clear: both;
  display: block;
  z-index: 999;
}

nav ul li {
  float: right;
  border-radius: 10px;
}

nav ul li:hover {
  color: #219c90;
}

nav ul li a {
  display: block;
  padding: 25px 30px 25px 0;
  color: black;
  text-decoration: none;
  color: #909398;
  display: flex;
  align-items: center;
}

nav ul ul {
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%;
}
nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul li:hover {
  background-color: #f7f7f7;
}
nav ul ul li a {
  padding: 15px 40px;
  font-size: 16px;
  color: #909398;
}
nav ul ul li a:hover {
  color: #219c90;
}
nav ul ul ul {
  width: 200px;
  position: absolute;
  right: 100%;
  top: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.search {
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  height: 50px;
  width: 390px;
  color: #8d9db5;
  border-radius: 5px;
}
.search input {
  height: 50px;
  width: 334px;
  border: none;
  border-radius: 5px;
}
.search input::placeholder {
  font-size: 18px;
  color: #aaaaaa;
}
.search input:focus {
  outline: none;
}
.search i {
  padding-left: 5px;
  font-size: 19px;
  cursor: pointer;
}
.user-box {
  width: 50px;
  height: 50px;
  background-color: #aaaaaa;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.user-box:hover {
  box-shadow: 1px 1px 5px #666, -1px -1px 5px #666;
}

/* body */
.container {
  width: 1140px !important;
}
.adress-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
  padding-top: 40px;
}
.adress-header a {
  text-decoration: none;
  color: #888;
}
.adress-header a:nth-child(-n + 3):hover {
  color: #219c90;
}
.adress-header a:nth-child(5) {
  color: #aaaaaa;
}
.img-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.img-header img {
  height: 740px;
  width: 1110px;
  border-radius: 10px;
}
.title-header a {
  text-decoration: none;
  color: #777;
  font-size: 18px;
  font-family: "iransans-bold";
}
.title-header a:hover {
  color: #219c90;
}
.date-catgory {
  display: flex;
  flex-direction: row;
  color: #999;
  gap: 20px;
  font-size: 14px;
  padding-top: 10px;
}
.catgory,
.date {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.body-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  outline: rgb(225red, 0, 0) dashed 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px 0;
  border-radius: 10px;
}
.details-text-box {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0;
  color: #666;
  text-align: justify;
}
.details-text-box img {
  padding-bottom: 20px;
}
.details-text-box p {
  font-size: 14px;
}
.details-text-box h1 {
  font-size: 32px;
  font-family: "iransans-bold";
  padding-bottom: 15px;
}
.details-text-box li {
  margin-right: 10px;
}
.viwe {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
}

.didgah {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  outline: rgb(225red, 0, 0) dashed 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px 0;
  width: 1110px;
  border-radius: 10px;
}
.didgah-header {
  padding-top: 30px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}
.didgah-header h4 {
  font-family: "iransans-bold";
  color: #666;
  font-size: 26px;
}

.didgah-header p {
  margin-top: 10px;
  color: #999;
  font-size: 14px;
}

.didgah-inputs {
  width: 95%;
  height: auto;
  margin-right: 15px;
}
.comments-input label {
  font-family: "iransans-bold";
  font-size: 15px;
  color: #999;
  margin-bottom: 10px;
  margin-right: 10px;
}
.didgah-inputs textarea {
  width: 100%;
  border: 3px solid #eee;
  border-radius: 10px;
}

.didgah-inputs textarea::placeholder {
  font-weight: 900;
  color: #aaa;
  padding-top: 15px;
  padding-right: 15px;
  font-size: 14px;
}
.didgah-inputs textarea:hover {
  border: 3px solid #219c90;
}
.didgah-inputs textarea:focus {
  outline: #219c90;
}

.personality-inputs {
  margin-top: 30px;
  margin-right: 5px;
  gap: 10px;
  display: flex;
  flex-direction: row;
}
.half-inputs {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 50%;
}
.half-inputs label {
  font-family: "iransans-bold";
  font-size: 14px;
  color: #999;
  margin-right: 10px;
  margin-bottom: -15px;
}
.half-inputs input {
  width: 95%;
  height: 40px;
  border-radius: 10px;
  border: 3px solid #eee;
}

.half-inputs input:hover {
  border: 3px solid #219c90;
}
.half-inputs input:focus {
  outline: #219c90;
}
.half-inputs input::placeholder {
  font-size: 14px;
  color: #aaa;
  padding-right: 5px;
}
.remember-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.remember-input input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  background-size: 15px;
  background-repeat: no-repeat;
  border: 2px solid #999999;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.remember-input input[type="checkbox"]:checked {
  background-image: url("./sambol/check-mark-297738_1280.webp");
  border: 2px solid #219c90;
}
.remember-input label {
  font-weight: 900;
  color: #999999;
}
.remember-input input[type="checkbox"]:checked + label {
  color: #219c90;
}

.send-btn {
  height: 45px;
  width: 116px;
  color: #fff;
  background-color: #219c90;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 50px;
  font-size: 14px;
}

/* footer */

.footer-email-tel {
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.email-tel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 15px;
  background-color: #219c90;
  width: 400px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.email-tel p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.email-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #ebf6f5;
  text-align: center;
  rotate: 20deg;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
}
.email-box i {
  transform: rotate(-20deg);
}

.tel-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #ebf6f5;
  text-align: center;
  rotate: 20deg;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
}

.tel-box i {
  rotate: -100deg;
}

.footer-row1 {
  height: 250px;
  width: 100%;
  background-color: #ebf6f5;
  display: flex;
}
.footer-row2 {
  height: 250px;
  width: 100%;
  background-color: #ebf6f5;
  display: flex;
}
.footer-colum1 {
  width: 60%;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.table {
  width: 100% !important;
  height: 220px !important;
  margin-top: 30px;
  vertical-align: middle !important;
  text-align: center;
  background-color: #ebf6f5 !important;
  border: none;
}
.table a {
  text-decoration: none;
  color: #5b5b5b !important;
}

table th {
  background-color: #ebf6f5 !important;
  font-family: "iransans-bold";
  font-size: 20px;
  color: #082a5e !important;
}

table td {
  background-color: #ebf6f5 !important;
  font-size: 15px;
}
table a:hover {
  color: #219c90 !important;
}

.footer-colum2 {
  width: 300px !important;
  height: 180px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #909398, -1px -1px 5px #909398;
}

.footer-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.details-personal-card {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-top: 10px;
  height: 40px;
  width: 100%;
}
.details-personal-card img {
  width: 35px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.name-id p {
  display: flex;
  flex-direction: column;
  height: 20px;
  margin-bottom: 5px;
  margin-right: 10px;
  direction: ltr;
}
.name-details-footer {
  font-family: "iransans-bold";
}
.id-details-footer {
  margin-left: 54px;
  font-size: 14px;
  color: #5b5b5b;
}

.footer-card-p {
  font-size: 14px;
  color: #5b5b5b;
  margin-right: 10px;
  width: 90%;
}

.footer-row2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-row-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer-box {
  background-color: #fff;
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer-social-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
}
.footer-social-icons a {
  text-decoration: none;
  color: #3b3b3b;
  font-size: 25px;
}
.footer-social-icons a:hover {
  color: #e14b5a;
}
